div.form-wrapper {
    border: 4px solid violet;
    border-style: dashed;
    border-radius: 4px;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}

input[type="file"].upload::-webkit-file-upload-button {
    visibility: hidden;
}

input[type="file"].upload {
    font-size: 0;
    width: 124px;
}

input[type="file"].upload::before {
    content: 'Select wav files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

input[type="file"].upload:hover::before {
    border-color: black;
  }
  input[type="file"].upload:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }